<ion-header>
  <ion-toolbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{item.name}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToCategoriesPage()">
        <ion-icon name="paper" padding-right></ion-icon>
      </button>
      <button ion-button icon-only (click)="showOptionsPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>

  <ion-row align-items-center nowrap padding-top margin-bottom>
    <ion-searchbar [(ngModel)]="searchValue" no-padding padding-right>
    </ion-searchbar>
    <button id="searchAddButton" ion-button icon-only (click)="goToNewItemPage()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-row>

  <ion-list>

    <ng-container *ngFor="let itmWC of itemsWithCategory
            | itemFilter: searchValue : listOptions.showActive : listOptions.showDone : listOptions.searchInActive : listOptions.searchInDone
            | sort: [listOptions.showCategories ? 'category.order' : '', {name: 'item.active', reverse: true}, {name: this.listOptions.sortField, primer: this.rd, reverse: this.listOptions.sortDesc}];
             let i = index">

      <ion-item-divider *ngIf="listOptions.showCategories && (isCategoryChanged(i, itmWC.category?.name) && (i > 0 || CATEGORY_WITHOUT_CATEGORY_NAME != itmWC.category?.name))" color="light" margin-top text-uppercase>
        <!--<ion-icon name="cos" item-start></ion-icon>-->
        {{itmWC.category?.name}}
      </ion-item-divider>

      <ng-container *ngIf="itmWC.item.active && (listOptions.showActive || (listOptions.searchInActive && searchValue))">
        <!--<ion-item-sliding (ionDrag)="doActionIfSwipeIsEnough($event, itm)">-->
        <ion-item-sliding>
          <ion-item *ngIf="itmWC.item.type == 'list'" (click)="goToItemsListPage(itmWC.item)">
            <ion-icon name="list" item-start></ion-icon>
            {{itmWC.item.name}}
          </ion-item>
          <ion-item *ngIf="itmWC.item.type != 'list'">
            <ion-icon name="pricetag" item-start></ion-icon>
            {{itmWC.item.name}}
            <button ion-button default color="light" (click)="markAsDone(itmWC.item)" item-end>
              <ion-icon class="ion-icon-done" name="checkmark"></ion-icon>
            </button>
          </ion-item>
          <ion-item-options *ngIf="itmWC.item.type != 'list'" side="left" (ionSwipe)="markAsDone(itmWC.item)">
            <button ion-button (click)="markAsDone(itmWC.item)">Done</button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="removeItem(itmWC.item)">Remove</button>
            <button ion-button (click)="goToEditItemPage(itmWC)">Edit</button>
          </ion-item-options>
        </ion-item-sliding>
      </ng-container>

      <ion-item-sliding *ngIf="!itmWC.item.active && (listOptions.showDone || (listOptions.searchInDone && searchValue))">
        <ion-item class="item-done" (click)="goToItemsListPage(itmWC.item)">
          <ion-icon *ngIf="itmWC.item.type == 'list'" name="list" item-start></ion-icon>
          <ion-icon *ngIf="itmWC.item.type != 'list'" name="pricetag" item-start></ion-icon>
          {{itmWC.item.name}}
          <button ion-button default color="light" (click)="markAsActive(itmWC.item)" item-end>
            <ion-icon class="ion-icon-add" name="add"></ion-icon>
          </button>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="danger" (click)="removeItem(itmWC.item)">Remove</button>
          <button ion-button (click)="goToEditItemPage(itmWC)">Edit</button>
        </ion-item-options>
      </ion-item-sliding>

    </ng-container>

  </ion-list>

</ion-content>
