  //ion-item {
  //  --ion-color-secondary: #006600;
  //  --ion-color-secondary-rgb: 0,102,0;
  //  --ion-color-secondary-contrast: #ffffff;
  //  --ion-color-secondary-contrast-rgb: 255,255,255;
  //  --ion-color-secondary-shade: #005a00;
  //  --ion-color-secondary-tint: #1a751a;
  //}

  //.item-divider {
  //  margin-top: 15px;
  //}

  //.button-md#searchAddButton {

  #searchAddButton {
    //font-size: 14px;
    height: 42px;
    //width: 42px;
    //padding: 0px;
  //  margin: 0px;
  }

  ion-list {
    --ion-background-color: transparent;
  }

  ion-item {
    --background: #FFF;
  }

  .item-done {
    --color: #AAA
  }

  .item-button-done {
    font-size: 14px;
    height: 32px;
  }

  .item-button-add {
    font-size: 14px;
    height: 32px;
    --ion-color-light: #FFF;
  }
