<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{currentlist.name}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="goToCategoriesPage()">
                <ion-icon slot="icon-only" name="paper"></ion-icon>
            </ion-button>
            <ion-button (click)="showOptionsPopover($event)">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding-horizontal>

    <ion-row align-items-center nowrap padding-top margin-bottom>
        <ion-searchbar [(ngModel)]="searchValue" debounce="50" no-padding padding-end>
        </ion-searchbar>
        <ion-button id="searchAddButton" no-margin (click)="goToNewItemPage()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </ion-row>

    <ion-list no-padding lines="inset">

        <ng-container *ngFor="let itmWC of itemsWithCategory
            | itemFilter: searchValue : listOptions.showActive : listOptions.showDone : listOptions.searchInActive : listOptions.searchInDone
            | sort: [listOptions.showCategories ? 'category.order' : '', {name: 'item.active', reverse: true}, {name: listOptions.sortField, primer: rd, reverse: listOptions.sortDesc}];
             let i = index">

            <ion-item-divider *ngIf="listOptions.showCategories && (isCategoryChanged(i, itmWC.category?.name) && (i > 0 || CATEGORY_WITHOUT_CATEGORY_NAME != itmWC.category?.name))" color="light"
                              margin-top text-uppercase sticky="true">
                <!--<ion-icon name="cos" item-start></ion-icon>-->
                <ion-label>{{itmWC.category?.name}}</ion-label>
            </ion-item-divider>

            <ion-item-sliding *ngIf="itmWC.item.active && (listOptions.showActive || (listOptions.searchInActive && searchValue))">
                <ion-item *ngIf="itmWC.item.type == 'list'" (click)="goToHomePage(itmWC.item.listRef, itmWC.item.name)">
                    <ion-icon name="list" slot="start" class="icon-active" no-margin margin-end></ion-icon>
                    <ion-label>{{itmWC.item.name}}</ion-label>
                </ion-item>
                <ion-item *ngIf="itmWC.item.type != 'list'">
                    <ion-icon name="pricetag" slot="start" class="icon-active" no-margin margin-end></ion-icon>
                    <ion-label>{{itmWC.item.name}}</ion-label>
                    <ion-button default color="light" class="item-button-done" (click)="markAsDone(itmWC.item)" slot="end">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item-options *ngIf="itmWC.item.type != 'list'" side="start" (ionSwipe)="markAsDone(itmWC.item)">
                    <ion-button (click)="markAsDone(itmWC.item)">Done</ion-button>
                </ion-item-options>
                <ion-item-options side="end">
                    <ion-button color="danger" (click)="removeItem(itmWC.item)">Remove</ion-button>
                    <ion-button (click)="goToEditItemPage(itmWC)">Edit</ion-button>
                </ion-item-options>
            </ion-item-sliding>

            <ion-item-sliding *ngIf="!itmWC.item.active && (listOptions.showDone || (listOptions.searchInDone && searchValue))">
                <ion-item (click)="goToHomePage(itmWC.item.listRef, itmWC.item.name)">
                    <ion-icon *ngIf="itmWC.item.type == 'list'" name="list" slot="start" no-margin margin-end></ion-icon>
                    <ion-icon *ngIf="itmWC.item.type != 'list'" name="pricetag" slot="start" no-margin margin-end></ion-icon>
                    <ion-label class="item-done">{{itmWC.item.name}}</ion-label>
                    <ion-button color="light" class="item-button-add" (click)="markAsActive(itmWC.item)" slot="end">
                        <ion-icon name="add"></ion-icon>
                    </ion-button>
                </ion-item>
                <ion-item-options side="end">
                    <ion-button color="danger" (click)="removeItem(itmWC.item)">Remove</ion-button>
                    <ion-button (click)="goToEditItemPage(itmWC)">Edit</ion-button>
                </ion-item-options>
            </ion-item-sliding>

        </ng-container>

    </ion-list>

</ion-content>
