  //ion-item {
  //  --ion-color-secondary: #006600;
  //  --ion-color-secondary-rgb: 0,102,0;
  //  --ion-color-secondary-contrast: #ffffff;
  //  --ion-color-secondary-contrast-rgb: 255,255,255;
  //  --ion-color-secondary-shade: #005a00;
  //  --ion-color-secondary-tint: #1a751a;
  //}

  //.item-divider {
  //  margin-top: 15px;
  //}

  //.button-md#searchAddButton {

  #searchAddButton {
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    height: 100%;
  }

  ion-list {
    --ion-background-color: transparent;
  }

  ion-item-divider ion-label {
    //font-weight: bold;
    //height: 30px;
  }

  .icon-active {
    color: black;
    //font-size: 28px;
  }

  ion-item {
    --background: #FFF;
  }

  .item-done {
    --color: #AAA
  }

  .item-button-done {
    font-size: 14px;
    height: 32px;
  }

  .item-button-add {
    font-size: 14px;
    height: 32px;
    --ion-color-light: #FFF;
  }
